<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Start Bootstrap </div>
  <div class="list-group list-group-flush">
    <a href="/dashboard" class="list-group-item list-group-item-action <%=(path === '/dashboard' ? 'active' : 'bg-light') %>">Dashboard</a>
    <a href="/" class="list-group-item list-group-item-action <%=(path === '/' ? 'active' : 'bg-light') %>">Home</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    <a href="/abcabc" class="list-group-item list-group-item-action <%=(path === '404' ? 'active' : 'bg-light') %>">404!</a>
  </div>
</div>
<!-- /#sidebar-wrapper -->